/*.text-white {
	color: white !important;
}

.has-background-primary-00 {
	background-color: #001f1a;
padding: 5px;
}

.gallery {
	column-count: 5;
	column-gap: 5px;
	margin: 0;

	& a {
		height: fit-content;
		width: fit-content;

		& img {
			width: 100%;
			/* margin-bottom: 5px;
			transition: transform 0.3s ease-in-out;
			border-radius: 5px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

		}
		& img:hover {
			transform: scale(0.95);
		}
	}
}*/
.gallery {
  display: flex;
  flex-wrap: wrap; /* Permite que as imagens se ajustem para várias linhas */
  gap: 10px;
  padding: 0 1rem;
  align-items: stretch;
}

.gallery img {
  width: 20%;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

@media (max-width: 768px) {
  .gallery img {
    width: 90dvw; /* Para telas menores, ocupa metade da largura */
  }
  .gallery {
    columns: 1;
  }
}

