.text-white {
	color: white !important;
}

.has-background-primary-00 {
	background-color: #001f1a;
padding: 5px;
}

.gallery {
	column-count: 5;
	column-gap: 5px;
	margin: 0;

	& a {
		height: fit-content;
		width: fit-content;

		& img {
			width: 100%;
			/* margin-bottom: 5px; */
			transition: transform 0.3s ease-in-out;
			border-radius: 5px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

		}
		& img:hover {
			transform: scale(0.95);
		}
	}
}
